# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage

# Environment
.env
.env.*
!.env.example

# Mongo backup
backup/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Logs
*.log
